// -------------
// Rain animation
// -------------

$rain: 7;

.rain {
  background: white;
  opacity: 0.3;
  height: 10px;
  position: absolute;
  width: 1px;
  transform-origin: 0% 0%;
}

@for $i from 1 through $rain {
  $top: (random(50) + 50) * 1%;
  $left: random(100) * 1%;
  $delay: random(2) * 1s;

  .rain:nth-of-type(#{$i}) {
    animation-name: rain-#{$i};
    animation-delay: $delay;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    left: $left;
    top: -$top;
  }

  @Keyframes rain-#{$i} {
    0% {
      left: $left;
      top: -$top;
    }
    100% {
      top: 100%;
    }
  }
}
