body {
  font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
}

.margin-bot-s {
  margin-bottom: 4vh;
}

.margin-bot-m {
  margin-bottom: 8vh;
}

.border-light {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(245, 245, 245);
}

.is-divider {
  margin: 0;
  border-width: 1px;
}
